<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Guide Sidebar -->
<ins class="adsbygoogle"
     style="display: inline-block; width: 320px; height: 100px"
     data-ad-client="ca-pub-9224413424814885"
     data-ad-slot="6361315967"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h4>General</h4>
<ul>
    <li>@Html.ActionLink("Online Werewolf Basics", "how-to-play-online-werewolf", new { controller = "Guides" })</li>
    <li>@Html.ActionLink("Rules", "online-werewolf-rules", new { controller = "Guides" })</li>
    <li>@Html.ActionLink("Victory Conditions", "victory-conditions", new { controller = "Guides" })</li>
</ul>

<h4>@Html.ActionLink("The Village", "Index", new { controller = "Roles", id = "Village" })</h4>
<ul>
    <li>@Html.ActionLink("Beholder", "Index", new { controller = "Roles", id = "Beholder" })</li>
    <li>@Html.ActionLink("Courtesan", "Index", new { controller = "Roles", id = "Courtesan" })</li>
    <li>@Html.ActionLink("Drunk", "Index", new { controller = "Roles", id = "Drunk" })</li>
    <li>@Html.ActionLink("Grand Vizier", "Index", new { controller = "Roles", id = "Grand Vizier" })</li>
    <li>@Html.ActionLink("Gravedigger", "Index", new { controller = "Roles", id = "Gravedigger" })</li>
    <li>@Html.ActionLink("Graverobber", "Index", new { controller = "Roles", id = "Graverobber" })</li>
    <li>@Html.ActionLink("Harlot", "Index", new { controller = "Roles", id = "Harlot" })</li>
    <li>@Html.ActionLink("Huntsman", "Index", new { controller = "Roles", id = "Huntsman" })</li>
    <li>@Html.ActionLink("Illuminati Leader", "Index", new { controller = "Roles", id = "Illuminati Leader" })</li>
    <li>@Html.ActionLink("Illuminati Lookout", "Index", new { controller = "Roles", id = "Illuminati Lookout" })</li>
    <li>@Html.ActionLink("Insomniac", "Index", new { controller = "Roles", id = "Insomniac" })</li>
    <li>@Html.ActionLink("Lycan", "Index", new { controller = "Roles", id = "Lycan" })</li>
    <li>@Html.ActionLink("Mason Leader", "Index", new { controller = "Roles", id = "MasonLeader" })</li>
    <li>@Html.ActionLink("Messiah", "Index", new { controller = "Roles", id = "Messiah" })</li>
    <li>@Html.ActionLink("Militia", "Index", new { controller = "Roles", id = "Militia" })</li>
    <li>@Html.ActionLink("Protector", "Index", new { controller = "Roles", id = "Protector" })</li>
    <li>@Html.ActionLink("Reviver", "Index", new { controller = "Roles", id = "Reviver" })</li>
    <li>@Html.ActionLink("Seer", "Index", new { controller = "Roles", id = "Seer" })</li>
    <li>@Html.ActionLink("Sleepwalker", "Index", new { controller = "Roles", id = "Sleepwalker" })</li>
    <li>@Html.ActionLink("Stalker", "Index", new { controller = "Roles", id = "Stalker" })</li>
    <li>@Html.ActionLink("Tarot Reader", "Index", new { controller = "Roles", id = "TarotReader" })</li>
    <li>@Html.ActionLink("Villager", "Index", new { area = "guides", controller = "Roles", id = "Villager" })</li>
    <li>@Html.ActionLink("Witch Hunter", "Index", new { area = "guides", controller = "Roles", id = "WitchHunter" })</li>
    <li>@Html.ActionLink("Zealot", "Index", new { area = "guides", controller = "Roles", id = "Zealot" })</li>
</ul>
<h4>@Html.ActionLink("The Wolfpack", "Index", new { controller = "Roles", id = "Wolfpack" })</h4>
<ul>
    <li>@Html.ActionLink("Alphawolf", "Index", new { controller = "Roles", id = "Alphawolf" })</li>
    <li>@Html.ActionLink("Bloodhound", "Index", new { controller = "Roles", id = "Bloodhound" })</li>
    <li>@Html.ActionLink("Bloodletter", "Index", new { controller = "Roles", id = "Bloodletter" })</li>
    <li>@Html.ActionLink("Direwolf", "Index", new { controller = "Roles", id = "Direwolf" })</li>
    <li>@Html.ActionLink("Shapeshifter", "Index", new { controller = "Roles", id = "Shapeshifter" })</li>
    <li>@Html.ActionLink("Werewolf", "Index", new { controller = "Roles", id = "Werewolf" })</li>
</ul>
<h4>@Html.ActionLink("The Coven", "Index", new { controller = "Roles", id = "Coven" })</h4>
<ul>
    <li>@Html.ActionLink("Acolyte", "Index", new { controller = "Roles", id = "Acolyte" })</li>
    <li>@Html.ActionLink("Alchemist", "Index", new { controller = "Roles", id = "Alchemist" })</li>
    <li>@Html.ActionLink("Djinn", "Index", new { controller = "Roles", id = "Djinn" })</li>
    <li>@Html.ActionLink("Furie", "Index", new { controller = "Roles", id = "Furie" })</li>
    <li>@Html.ActionLink("Harpy", "Index", new { controller = "Roles", id = "Harpy" })</li>
    <li>@Html.ActionLink("Puppetmaster", "Index", new { controller = "Roles", id = "Puppetmaster" })</li>
    <li>@Html.ActionLink("Shaman", "Index", new { controller = "Roles", id = "Shaman" })</li>
    <li>@Html.ActionLink("Succubus", "Index", new { controller = "Roles", id = "Succubus" })</li>
    <li>@Html.ActionLink("Witch", "Index", new { controller = "Roles", id = "Witch" })</li>
</ul>
<h4>@Html.ActionLink("The Vampires", "Index", new { controller = "Roles", id = "Vampires" })</h4>
<ul>
    <li>@Html.ActionLink("Familiar", "Index", new { controller = "Roles", id = "Familiar" })</li>
    <li>@Html.ActionLink("Vampire", "Index", new { controller = "Roles", id = "Vampire" })</li>
    <li>@Html.ActionLink("Vampire Master", "Index", new { controller = "Roles", id = "VampireMaster" })</li>
</ul>
